{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Delete
{% endblock title %}

{% block content %}
<h2>Вы действительно хотите удалить данный пост?</h2>
<h1>Название - {{ new.head_text | Censor }}</h1>
<p>Текст - {{ new.body_text | Censor }}</p>
<p>Автор - {{ new.author }}</p>
<p>Категория - {{ new.choise }}</p>
<p>Рейтинг - {{ new.rating }}</p>
<p>Дата загрузки - {{ new.createpost_datetime }}</p>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>
{% endblock content %}